<!--<app-text-overflow [titulo]="'poinoinoinoin'"
                    [texto] = "'kaogjaioghsu8ogiha ouhefguoae ghuioah uiaeho aoiegh oia'"
                    [clip] = "false"
></app-text-overflow>
<app-biscoito [imagem]=imagem></app-biscoito>
<app-botao (hidden)="onHiddenChange($event)"
            (imagem)="onImagemChange($event)"></app-botao>
<app-frases [hidden]=hidden></app-frases>
<app-aleatorio [min]="1" [max]="15"
                (resultado)="processar($event)"></app-aleatorio>
<p>{{resultado}}</p>
<app-for></app-for>-->
<app-tarefas></app-tarefas>
<app-ngcontent>
  <div class="titulo">titulo do painel</div>
  <div class="corpo">item passado para o corpo</div>
  <div class="corpo">
    <ul>
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
    </ul>
  </div>
</app-ngcontent>
